<div class="second-field-margin-top" style="display: flex; justify-content: center; margin-bottom: 50px;">
  <a routerLink="/search" style="text-decoration: none;">
    <img src="../../../../assets/TRFNotifica_logo.png" alt="Logo do Sistema" style="width: 250px; height: auto;">
  </a>
</div>
<p-card  header="Login" [style]="{'color':'#545454', 'background':'#e9e9e9', 'text-align': 'center', 'margin': 'auto', width: '23rem'}" aria-label="Tela de login do TRFNotifica">
  <div class="p-fluid">
    <div class="p-col-12 p-md-6 p-lg-4">
      <form [formGroup]="form">
        <div class="field first-field-margin-top">
          <p-floatLabel>
            <input id="username" type="text" pInputText formControlName="username" aria-label="Campo para inserção do usuário (username)"/>
            <label for="username" aria-label="Rótulo do campo Usuário">Usuário</label>
          </p-floatLabel>
        </div>

        <div class="field second-field-margin-top">
          <p-floatLabel>
            <p-password id="password" type="password" formControlName="password" [toggleMask]="true" [feedback]="false" ariaLabel="Campo para inserção da senha"/>
            <label for="password" aria-label="Rótulo do campo Usuário">Senha</label>
          </p-floatLabel>
        </div>
      </form>
        <div class="field second-field-margin-top">
          <p-button type="button" label="Entrar" [style]="{'font-weight': 'bold', 'background-color': '#005B99'}" class="w-full" (click)="onLogin()" aria-label="Botão entrar"></p-button>
        </div>
        <div>
          <p style="color: black;"><strong>Não possui uma conta? </strong> <a routerLink="/cadastre" style="color: #005B99; text-decoration: none; font-weight:bold" aria-label="Link para a tela de cadastro do TRFNotifica"><strong>Crie sua conta</strong></a></p>
        </div>
    </div>
  </div>
</p-card>



