<div class="flex flex-column align-items-center" style="margin-top: 3rem">
  <h1 style="margin-bottom: 3rem" aria-label="Consulta Processual">Consulta Processual</h1>

  <form>
    <div class="flex flex-column gap-3">
      <div class="field-checkbox">
        <p-radioButton
          name="searchOption"
          value="numero"
          [(ngModel)]="searchOption"
          (onClick)="clearFields()"
          ariaLabel="Botão de opção: buscar por número do processo"
        />
        <div style="margin-bottom: 1rem; margin-left: 1rem">
          <label
            for="input1"
            (click)="selectRadioButtonNumero()"
            aria-label="Rótulo do campo Nº do Processo">
            Nº do Processo
          </label>
          <p-inputMask
            mask="9999999-99.9999.9.99.9999"
            placeholder="9999999-99.9999.9.99.9999"
            [disabled]="searchOption !== 'numero'"
            type="text"
            id="input1"
            name="input1"
            [(ngModel)]="numeroProcesso"
            (focus)="setCursorToStart($event)"
            aria-label="Campo para inserção do número do processo"
          />
        </div>
      </div>
      <div class="field-checkbox">
        <p-radioButton
          name="searchOption"
          value="classeEOrgao"
          [(ngModel)]="searchOption"
          (onClick)="clearFields()"
          ariaLabel="Botão de opção: buscar por código da classe e código do órgão julgador"
        />
        <div
          style="margin-bottom: 1rem; margin-left: 1rem"
          class="form-group-row"
        >
          <div>
            <label
              for="input2"
              (click)="selectRadioButtonclasseEOrgao()"
              aria-label="Rótulo do campo Código da Classe">
              Código da Classe
            </label>
            <p-inputNumber
              placeholder="9999"
              mode="decimal"
              [disabled]="searchOption !== 'classeEOrgao'"
              id="input2"
              name="input2"
              [(ngModel)]="codigoClasse"
              (focus)="setCursorToStart($event)"
              aria-label="Campo para inserção do código da classe"
            />
          </div>

          <div>
            <label
              for="input3"
              (click)="selectRadioButtonclasseEOrgao()"
              aria-label="Rótulo do campo Código do Órgão Julgador">
              Código do Órgão Julgador
            </label>
            <p-inputNumber
              placeholder="99999"
              mode="decimal"
              [disabled]="searchOption !== 'classeEOrgao'"
              id="input3"
              name="input3"
              [(ngModel)]="codigoOrgaoJulgador"
              (focus)="setCursorToStart($event)"
              aria-label="Campo para inserção do código do órgão julgador"
            />
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center; margin-top: 1rem">
      <p-button icon="'pi pi-refresh'" label="Buscar" [disabled]="!isButtonEnabled" (onClick)="goToSearchResults()" aria-label="Botão buscar"></p-button>
    </div>
  </form>
</div>
