.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-item {
  padding: 1rem;
}

.grid-table {
  grid-column: 1 / 0;
}

/* Media Query para telas menores */
@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .grid-item {
    padding: 0.5rem;
  }
}
