<p-card header="Perfil" [style]="{'margin-top':'2rem'}">
  <p-toast position="top-center"/>
  <form [formGroup]="form">
    <div class="grid-container">
      <!-- Coluna 1 -->
      <div class="grid-item">
        <div class="flex flex-column gap-2" style="width: 17rem; margin-bottom: 3rem;">
          <label for="nome">Nome Completo <span class="red-text">*</span></label>
          <input pInputText id="nome" formControlName="nome"/>
        </div>
        <div class="flex flex-column gap-2" style="width: 17rem; margin-bottom: 3rem;">
          <label for="email">E-mail <span class="red-text">*</span></label>
          <input pInputText id="email" formControlName="email"/>
        </div>
        <div class="flex flex-column gap-2" style="width: 17rem;">
          <label for="usuario">Usuário <span class="red-text">*</span></label>
          <input pInputText id="usuario" formControlName="usuario"/>
        </div>

      </div>

      <!-- Coluna 2 -->
      <div class="grid-item">
        <div class="flex flex-column gap-2" style="margin-bottom: 3rem;">
          <label for="senhaAtual">Senha atual</label>
          <p-password id="senhaAtual" type="password" formControlName="senhaAtual" [toggleMask]="true" [feedback]="false"/>
        </div>
        <div class="flex flex-column gap-2" >
          <label for="senhaNova">Nova senha</label>
          <p-password id="senhaNova" type="password" formControlName="senhaNova" [toggleMask]="true" [feedback]="false"/>
        </div>
      </div>
    </div>

    <div style="text-align:center; margin-top: 2rem">
      <p-button [disabled]="!form.valid || !isFormModified" (onClick)="onSubmit()" label="Salvar alterações"></p-button>
    </div>
  </form>
</p-card>
