<div style="margin-top: 1rem; margin-bottom: 1rem;">
  <p-button icon="pi pi-arrow-left" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="goBack()" label="Voltar" aria-label="Voltar"></p-button>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 1rem; margin-bottom: 1rem;">
  <h3>
    Meus Processos
  </h3>
  <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSortOrder" (onChange)="onSortChange($event)" placeholder="Ordenar por"></p-dropdown>
</div>
@if(isLoading){
  <div class="center-spinner">
    <p-progressSpinner aria-label="Carregando"></p-progressSpinner>
  </div>
} @else {

  @if(data === null || data === undefined || data.length === 0){
    <div style="text-align: center; margin-top: 2rem;">
      <img src="../../../assets/no_data.png" alt="Imagem de nenhum processo salvo" style="width: 150px; height: auto;">
      <h4>Não há processos salvos!</h4>
    </div>
    
  } @else {
    <p-confirmDialog [style]="{width: '40rem'}" rejectButtonStyleClass="p-button-outlined p-button-danger"></p-confirmDialog>
    <p-toast position="top-center"/>
    <p-table [value]="data" [tableStyle]="{ 'min-width': '80rem' }" aria-label="Tabela de resultados de busca">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <strong>Nº do Processo</strong>
          </th>
          <th>
            <strong>Tribunal</strong>
          </th>
          <th>
            <strong>Assuntos</strong>
          </th>
          <th>
            <strong>Última Atualização</strong>
          </th>
          <th>
            <strong>Ações</strong>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-processo>
        <tr>
          <td>{{ processo.numero }}</td>
          <td>{{ processo.tribunal }}</td>
          <td>
            <ul>
              <li *ngFor="let assunto of processo.assuntos">{{ assunto.nome }}</li>
            </ul>
          </td>
          <td>
              {{ processo.movimentacoes?.length ? (processo.movimentacoes[processo.movimentacoes.length - 1]?.dataHora | date: 'dd/MM/yyyy - HH:mm:ss') : 'Sem movimentações' }}
          </td>
          <td>
            <p-button
              aria-label="Exibir detalhes do processo"
              icon="pi pi-eye"
              class="action-button"
              (onClick)="onVisualizeDetails(processo.identificador)"
            ></p-button>
            <p-button
              aria-label="Desativar notificação"
              [icon]="'pi pi-bell-slash'"
              [severity]="'danger'"
              class="action-button"
              (onClick)="confirmeRemoveNotification(processo)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
}
