.first-field-margin-top {
  margin-top: 1rem;
}

.second-field-margin-top {
  margin-top: 3rem;
}

.w-full {
  width: 100%;
}

.red-text{
  color: red;
}

.responsive-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  align-self: flex-end;
}
