<div class="second-field-margin-top" style="display: flex; justify-content: center; margin-bottom: 2rem;">
  <a routerLink="/search" class="custom-image">
    <img src="../../../../assets/TRFNotifica_logo.png" alt="Logo do sistema TRFNotifica" class="custom-image-logo">
  </a>
</div>
<p-toast position="top-center"/>
<p-card header="Crie sua conta" aria-label="Crie sua conta" [style]="{'color':'#545454', 'background':'#e9e9e9', 'text-align': 'center', 'margin':'auto', width: '30rem'}">
  <div class="p-fluid">
    <div class="p-col-12 p-md-6 p-lg-4">
    <form [formGroup]="form">
      <div class="field first-field-margin-top">
        <p-floatLabel>
          <input aria-label="Campo nome" pInputText id="nome" formControlName="nome"/>
          <label aria-label="Nome Completo (obrigatório)" for="nome">Nome Completo <span class="red-text">*</span></label>
        </p-floatLabel>
        <div class="custom-message">
          @if(form.get('nome')?.invalid && (form.get('nome')?.dirty || form.get('nome')?.touched)){
            @if(form.get('nome')?.errors?.['required']){
              <p-message
              severity="danger"
              text="Este campo é obrigatório"></p-message>
            }
          }
        </div>

      </div>
      <div class="field second-field-margin-top">
        <p-floatLabel>
          <input aria-label="Campo usuário" pInputText id="usuario" formControlName="usuario" (blur)="checkUsername()"/>
          <label aria-label="Usuário (obrigatório)" for="usuario">Usuário <span class="red-text">*</span></label>
        </p-floatLabel>
        <div class="custom-message">
          @if(form.get('usuario')?.invalid && (form.get('usuario')?.dirty || form.get('usuario')?.touched)){
            @if(form.get('usuario')?.errors?.['required']){
              <p-message
              severity="danger"
              text="Este campo é obrigatório"></p-message>
            }
          }
          @if(isUsernameValid == true){
            <p-message
              severity="danger"
              text="Este usuário já existe."></p-message>
          }
        </div>
      </div>
      <div class="field second-field-margin-top">
        <p-floatLabel>
          <input aria-label="Campo e-mail" pInputText id="email" formControlName="email" />
          <label aria-label="E-mail (obrigatório)" for="email">E-mail <span class="red-text">*</span></label>
        </p-floatLabel>
        <div class="custom-message">
          @if(form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)){
            @if(form.get('email')?.errors?.['required']){
              <p-message
              severity="danger"
              text="Este campo é obrigatório"></p-message>
            }
          }
        </div>
      </div>
      <div class="field second-field-margin-top">
        <p-floatLabel>
          <p-password ariaLabel="Campo senha" type="password" [toggleMask]="true" [feedback]="false" id="senha" formControlName="senha"/>
          <label aria-label="Senha (obrigatório)" for="senha">Senha <span class="red-text">*</span></label>
        </p-floatLabel>
        <div class="custom-message">
          @if(form.get('senha')?.invalid && (form.get('senha')?.dirty || form.get('senha')?.touched)){
            @if(form.get('senha')?.errors?.['required']){
              <p-message
              severity="danger"
              text="Este campo é obrigatório"></p-message>
            }
          }
        </div>
      </div>
      <div class="field second-field-margin-top">
        <p-floatLabel>
          <p-password ariaLabel="Campo confirmar senha" type="password" [toggleMask]="true" [feedback]="false" id="senhaConfirmacao" formControlName="senhaConfirmacao" />
          <label aria-label="Confirme sua senha (obrigatório)"  for="senhaConfirmacao">Confirme sua Senha <span class="red-text">*</span></label>
        </p-floatLabel>
        <div class="custom-message">
          @if(form.get('senhaConfirmacao')?.invalid && (form.get('senhaConfirmacao')?.dirty || form.get('senhaConfirmacao')?.touched)){
            @if(form.get('senhaConfirmacao')?.errors?.['required']){
              <p-message
              severity="danger"
              text="Este campo é obrigatório"></p-message>
            }
          }
        </div>
      </div>
      <div class="field second-field-margin-top">
        <p-button class="w-full" type="submit" [disabled]="!form.valid || this.isUsernameValid == true" (onClick)="onSubmit()" label="Criar Conta" ariaLabel="Botão criar conta" [styleClass]="'custom-button-blue'"></p-button>
      </div>
      <div>
        <p style="color: black;">Já possui uma conta? <a aria-label="Faça login" routerLink="/login" class="custom-link" aria-label="Faça login">Faça login</a></p>
      </div>
    </form>
    </div>
  </div>
</p-card>
